<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/delete}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Product Id</label>
            <input type="text" th:field="*{productId}"/>
        </div>
        <div>
            <label>Product Name</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Product Price</label>
            <input type="email" th:field="*{productPrice}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>producer</label>
            <input type="text" th:field="*{producer}"/>
        </div>
        <input type="submit" value="Remove"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>