<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/user/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
<body>
<form th:action="@{/create}" method="post" th:object="${user}">
    <br/>
    <label>Name:</label>
    <input type="text" th:field="*{name}">
    <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <label>phoneNumber:</label>
    <input type="text"  th:field="*{phoneNumber}">
    <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
    <br/>
    <label>Age:</label>
    <input type="text"  th:field="*{age}">
    <span style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>
    <label>email:</label>
    <input type="text"  th:field="*{email}">
    <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>