<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout :: head"></head>
<body>
<h3>Remove blog</h3>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>type</label>
            <input type="email" th:field="*{type}"/>
        </div>
        <div>
            <label>content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <input type="submit" value="Remove"></input>
    </form>
</div>
<footer th:replace="blog/layout :: footer"></footer>
</body>
</html>