<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=tt6fmSeldkiutevsbGzJVZr1NJ3IQ6oboJInc1WP';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<body>
<div style="text-align: center">
    <img id="img-of-the-day" width="200px" height="200px">
    <form action="/create-comment" method="post" th:object="${comment}">
        <select th:field="*{mark}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <br>
        Author:<br> <label>
        <input type="text" th:field="*{author}">
    </label>
        <br>
        <br>
        Feedback:<br> <label>
        <textarea th:field="*{feedback}"></textarea>
    </label>
        <br>
        <br>
        <button type="submit">Comment</button>
    </form>
    <table th:if="${comments}">
        <tr th:each="comment : ${comments}">
            <td th:value="${comment.getAuthor()}" th:text="'+' +${comment.getAuthor()}+'  '"></td>
            <td th:value="${comment.feedback}" th:text="'+' +${comment.feedback}+' '"></td>
            <td>&nbsp;</td>
            <td th:value="${comment.numberOfLikes}" th:text="${comment.numberOfLikes}"></td>
            <td> <a th:href="@{/update-like/{id}(id=${comment.getId()})}" class="btn-group" role="button" >like</a></td>
        </tr>
    </table>

    <div>
        <a th:href="@{'/'(page=${comments.number - 1})}" th:if="${comments.hasPrevious()}">lui</a>
        <span th:text="${comments.number + 1}"></span>/<span th:text="${comments.totalPages}"></span>
        <a th:href="@{'/'(page=${comments.number + 1})}" th:if="${comments.hasNext()}">tới</a>
    </div>
</div>
</body>
</html>